<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_transporter">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00560006666726523 8.5932911635727E-08 0.121693775411523"
        rpy="0 0 0" />
      <mass
        value="48.75146579928" />
      <inertia
        ixx="0.794048932779582"
        ixy="1.25447091974959E-06"
        ixz="0.0119145515345586"
        iyy="1.41634392022713"
        iyz="-3.41804588263661E-07"
        izz="1.74512398008005" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_wl">
    <inertial>
      <origin
        xyz="0.1625 0.178233410060357 0.0350000000000003"
        rpy="0 0 0" />
      <mass
        value="0.120099701259178" />
      <inertia
        ixx="2.22061106760528E-05"
        ixy="7.64883947486343E-19"
        ixz="4.68289760087774E-19"
        iyy="2.68970104758221E-05"
        iyz="-1.88218124146388E-19"
        izz="2.22061106760443E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/front_wl.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/front_wl.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_jl"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_wl" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rear_wl">
    <inertial>
      <origin
        xyz="-0.162499999999998 0.178233410060241 0.0350000000000002"
        rpy="0 0 0" />
      <mass
        value="0.120099701259467" />
      <inertia
        ixx="2.22061106759925E-05"
        ixy="9.03898858175671E-19"
        ixz="1.39368082721999E-18"
        iyy="2.68970104757779E-05"
        iyz="-8.38259559484833E-18"
        izz="2.22061106759824E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/rear_wl.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/rear_wl.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_jl"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_wl" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_wr">
    <inertial>
      <origin
        xyz="0.1625 -0.178233410060722 0.0349999999999997"
        rpy="0 0 0" />
      <mass
        value="0.120099701250462" />
      <inertia
        ixx="2.22061106760935E-05"
        ixy="-6.701208466275E-18"
        ixz="3.45509640230158E-18"
        iyy="2.68970104756202E-05"
        iyz="1.98382027082481E-18"
        izz="2.22061106760878E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/front_wr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/front_wr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_jr"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_wr" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rear_wr">
    <inertial>
      <origin
        xyz="-0.1625 -0.178233410060774 0.0349999999999997"
        rpy="0 0 0" />
      <mass
        value="0.120099701249563" />
      <inertia
        ixx="2.22061106761304E-05"
        ixy="1.45645722957698E-19"
        ixz="-5.64896632961065E-19"
        iyy="2.68970104756355E-05"
        iyz="1.45435639244637E-17"
        izz="2.22061106761133E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/rear_wr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_transporter/meshes/rear_wr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_jr"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_wr" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
</robot>